In [3]:
import numpy as np

In [2]:
import pandas as pd

In [20]:
matrix = np.array([[1,2,3],[5,6,7]])

In [21]:
print(matrix)

[[1 2 3]
 [5 6 7]]

In [22]:
mylist = [["Apple", "Red"],
         ["Banana","Yellow"],
         ["Orange","Orange"]]

In [23]:
myDataFrame = pd.DataFrame(mylist, columns=["Fruit","Color"])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [24]:
#Create a pandas data frame from a numpy array
numbers = np.array([[0,1],[2,3],[4,5],[6,7]])
dataFrame1 = pd.DataFrame(numbers, columns=["Odd","Even"])

In [25]:
dataFrame1

   Odd  Even
0    0     1
1    2     3
2    4     5
3    6     7

In [26]:
#Create a pd data frame from a dictionary

In [27]:
myDictionary = {"fruit":["Apple","Banana","Orange"], "color":["yellow","blue","Orange"]}

In [28]:
dictionarDataFrame = pd.DataFrame(myDictionary)

In [29]:
dictionarDataFrame

    fruit   color
0   Apple  yellow
1  Banana    blue
2  Orange  Orange

In [30]:
df = pd.read_csv('./cereals.csv')

In [31]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [32]:
#read_csv methos in pandas will create a data frame from a .csv , file 
#csv stands for comma separated values files,

In [33]:
#Once created we can use the the set_index function in pandas to define a new index for the data frame that was created

In [34]:
df.set_index('name')

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [35]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [36]:
#You would have noticed that after calling the function set_index in the previous call we set up a new index
#But after calling df again the change was gone this because the changes in pandas are not pernamnat on the data frame 
#to make it permanant you will need to either asssign the value of your transformed data frame to a new variable or 
#or set inplace to true in the call of your function

In [37]:
#Inplace function is used to make the change permamant

In [38]:
#Option 1 : assign the transformed dataframe to a new datafframe function
df_name = df.set_index('name')

In [39]:
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [40]:
df_name

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [41]:
#Option 2 : use inplace property to make the change permanant
df.set_index('name',inplace=True)

In [42]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [43]:
#Examining the data 
#To examine the data in your pandas data frame, you can the function head() and tail()
#head() will give you the top five rows in if no number is specified as parameter 
#tail() will give you the bottom five rows in if no number is specified as parameter

In [44]:
df.head()

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [45]:
df.head(2)

                   calories  protein  vitamins     rating
name
100% Bran                70        4        25  68.402973
100% Natural Bran       120        3         0  33.983679

In [46]:
df.head(7)

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094

In [47]:
df.tail()

                         calories  protein  vitamins     rating
name
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [48]:
df.tail(3)

             calories  protein  vitamins     rating
name
Basic 4           130        3        25  37.038562
Bran Chex          90        2        25  49.120253
Bran Flakes        90        3        25  53.313813

In [49]:
df.tail(6)

                         calories  protein  vitamins     rating
name
Almond Delight                110        2        25  34.384843
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [50]:
#we can use the [] operator for rwo slicing 
#when using the brackets operator we have to specify a strat index which is inclusive and a end bracket which is exclusinve 
#[start_index:end_index]

In [51]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [52]:
df[1:2]

                   calories  protein  vitamins     rating
name
100% Natural Bran       120        3         0  33.983679

In [53]:
df[1:4]

                           calories  protein  vitamins     rating
name
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912

In [54]:
#Column slicing 
#Just like for the row slicing, the [] operator can be sued to slice a data frame to return only a set of columns with some nuances 
#this time we need to use pass the row oerators inside another row operatorand use a a comma instead of : to specifythe start and end columns
#df[['start_column', 'end_column']]

In [55]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [56]:
df[['calories','rating']]

                           calories     rating
name
100% Bran                        70  68.402973
100% Natural Bran               120  33.983679
All-Bran                         70  59.425505
All-Bran with Extra Fiber        50  93.704912
Almond Delight                  110  34.384843
Apple Cinnamon Cheerios         110  29.509541
Apple Jacks                     110  33.174094
Basic 4                         130  37.038562
Bran Chex                        90  49.120253
Bran Flakes                      90  53.313813

In [57]:
#we can also pass a boolean list to the [] operator in this case all the element for each index in the list the correspondng row index 
#in the data frame will be displayed if the value is sert to true and hidden if the value is set to false

In [58]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [59]:
show_only_third_row = [False,False,True,False,False,False,False,False,False,False]

In [60]:
df[show_only_third_row]

          calories  protein  vitamins     rating
name
All-Bran        70        4        25  59.425505

In [61]:
#one thing to note here is that the number of boolean value passed has to match the number of rows int he data frame
#this could make you question the use of this method oall together but it is an actually powerful way to

In [62]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [63]:
#For instance lets assume that we would like to we would like to show to programatically define a list of element
#that satisfy a very complex criteria that cannot be defined directly using the filter oprions 
#a simple example in our case will be displaying the row where the number of proteines is greater than 2 
#and the ratiio between the the rating and vitamins i sgreater than 2

In [64]:
#We define a booean list with no values to start with
items_to_display = []
#we start by itterationg through the list of elemetns of the dataframe 
for index,row in df.iterrows():
    #for each element we will take store the value of protein,rating, and vitamins int heir own variables
    protein = row["protein"]
    vitamins = row["vitamins"]
    rating = row["rating"]
    
    #then we calculate the ratio rating/vitamins
    if vitamins > 0:
        ratio = rating/vitamins
    else:
        ratio = 0
        
    #now we check the value of the ratio and number of protein if the conditions are satisfied we display the row by setting the True 
    #or false in the associated booealn list we will later pass 
    if protein > 2 and ratio > 2:
        items_to_display.append(True)
    else:
        items_to_display.append(False)
        
#when the loop itteration is over we display the result of our boulean list 
print(items_to_display)

#and we pass the booealn list in the [] operation to show t he rows where the data satisfy our define conditions 
df[items_to_display]

[True, False, True, True, False, False, False, False, False, True]

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Bran Flakes                      90        3        25  53.313813

In [65]:
#Filtering the data 
#we can use the [] operator to apply some filter, we define a condition within the [] and only the rows statisfying the defined conditions 
#will be displayed

In [66]:
condition = df["calories"] > 70
df[condition]

                         calories  protein  vitamins     rating
name
100% Natural Bran             120        3         0  33.983679
Almond Delight                110        2        25  34.384843
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [67]:
#or directly

In [68]:
df[df["calories"] > 70 ]

                         calories  protein  vitamins     rating
name
100% Natural Bran             120        3         0  33.983679
Almond Delight                110        2        25  34.384843
Apple Cinnamon Cheerios       110        2        25  29.509541
Apple Jacks                   110        2        25  33.174094
Basic 4                       130        3        25  37.038562
Bran Chex                      90        2        25  49.120253
Bran Flakes                    90        3        25  53.313813

In [69]:
#we can include more than one conditions by grouping them using the and(&) and or(|) operators

In [70]:
protein_greater_than_2_condition = df["protein"] > 2

In [71]:
ratio_rating_vitamins_greater_than_2_condition = df["rating"] / df["vitamins"] > 2

In [72]:
df[protein_greater_than_2_condition & ratio_rating_vitamins_greater_than_2_condition]

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Bran Flakes                      90        3        25  53.313813

In [73]:
#Indexing 
#loc is used to index/slice a group of rows and lolumns based on their labels
#the first argument is the row label and the second argument is the column label

In [74]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [75]:
df.columns

Index(['calories', 'protein', 'vitamins', 'rating'], dtype='object')

In [76]:
df.loc["All-Bran", "calories"]

np.int64(70)

In [77]:
#This method returns a single value of the data type of the value return

In [78]:
#to return a data frame instead pass the argument to loc in the form of a list

In [79]:
df.loc[["All-Bran"], ["calories"]]

          calories
name
All-Bran        70

In [80]:
#we can also use loc method to slice rows and columns from the dataframe

In [81]:
df.loc["All-Bran":"Basic 4", "calories":"vitamins"]

                           calories  protein  vitamins
name
All-Bran                         70        4        25
All-Bran with Extra Fiber        50        4        25
Almond Delight                  110        2        25
Apple Cinnamon Cheerios         110        2        25
Apple Jacks                     110        2        25
Basic 4                         130        3        25

In [82]:
#we can index and slice simultanousely as well

In [83]:
df.loc[["All-Bran","Basic 4"], "calories":"vitamins"]

          calories  protein  vitamins
name
All-Bran        70        4        25
Basic 4        130        3        25

In [84]:
#iloc is a similar function to loc , the difference is that where loc allows you to use labels iloc use row index positions only for indexing and slicing
#iloc takes two arguments one for the row and one for the index 
#ex: df.iloc[start, end] ==> rturns single scalar value
#ex: df.iloc[[start],[end]] ==> returns a data frame
#ex: df

In [85]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843
Apple Cinnamon Cheerios         110        2        25  29.509541
Apple Jacks                     110        2        25  33.174094
Basic 4                         130        3        25  37.038562
Bran Chex                        90        2        25  49.120253
Bran Flakes                      90        3        25  53.313813

In [86]:
df.iloc[2,3]

np.float64(59.425505)

In [87]:
#you will note that name is not considered and elment that is accessible as we turnd it to and index

In [88]:
df.iloc[[2],[3]]

             rating
name
All-Bran  59.425505

In [89]:
df.iloc[0:5,0:3]

                           calories  protein  vitamins
name
100% Bran                        70        4        25
100% Natural Bran               120        3         0
All-Bran                         70        4        25
All-Bran with Extra Fiber        50        4        25
Almond Delight                  110        2        25

In [90]:
#just like with loc function the iloc allow you to index and slice at the same time

In [91]:
df.iloc[[0,2,4], 0:3]

                calories  protein  vitamins
name
100% Bran             70        4        25
All-Bran              70        4        25
Almond Delight       110        2        25

In [92]:
#Adding and deleting rows from a data frame

In [93]:
#first we will create a new data frame to manipulate from the csv file
df_new = pd.read_csv('./cereals.csv')

In [94]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                Apple Jacks       110        2        25  33.174094
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [95]:
#Adding

In [96]:
#we use the loc method to add a new element at the specified index if the row exist the new row replaces the old one if not a new one is created

In [97]:
df_new.loc[6]

name        Apple Jacks
calories            110
protein               2
vitamins             25
rating        33.174094
Name: 6, dtype: object

In [98]:
df_new.loc[6] = ["Trix",110,1,25,27.75984]

In [99]:
df_new.loc[6]

name            Trix
calories         110
protein            1
vitamins          25
rating      27.75984
Name: 6, dtype: object

In [100]:
#Deleting

In [101]:
#to delete a row fromt he data frame we use the function drop()  by specifying 0 for the value of the axis

In [102]:
df_new.loc[2]

name         All-Bran
calories           70
protein             4
vitamins           25
rating      59.425505
Name: 2, dtype: object

In [103]:
df_new.drop(2,axis=0, inplace=True)

In [104]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [105]:
#you will noticed the row with the value All-Bran was delted

In [106]:
#adding new column

In [107]:
df_new["country"] = ["USA","UK","MX","FR","GER","USA","UK","MX","FR"]

In [108]:
df_new

                        name  calories  protein  vitamins     rating country
0                  100% Bran        70        4        25  68.402973     USA
1          100% Natural Bran       120        3         0  33.983679      UK
3  All-Bran with Extra Fiber        50        4        25  93.704912      MX
4             Almond Delight       110        2        25  34.384843      FR
5    Apple Cinnamon Cheerios       110        2        25  29.509541     GER
6                       Trix       110        1        25  27.759840     USA
7                    Basic 4       130        3        25  37.038562      UK
8                  Bran Chex        90        2        25  49.120253      MX
9                Bran Flakes        90        3        25  53.313813      FR

In [109]:
#Deleting a column

In [110]:
df_new.drop("country",axis=1, inplace=True)

In [111]:
df_new

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
7                    Basic 4       130        3        25  37.038562
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813

In [ ]:
#Sorting Data 
df_new.sort_values(by="calories")

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
0                  100% Bran        70        4        25  68.402973
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
1          100% Natural Bran       120        3         0  33.983679
7                    Basic 4       130        3        25  37.038562

we can specify the sort order ascending or decending by setting the property ascending or descending to true or false

In [ ]:
#Sorting descending
df_new.sort_values(by="calories", ascending=False)

                        name  calories  protein  vitamins     rating
7                    Basic 4       130        3        25  37.038562
1          100% Natural Bran       120        3         0  33.983679
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
0                  100% Bran        70        4        25  68.402973
3  All-Bran with Extra Fiber        50        4        25  93.704912

In [117]:
#Sorting Data ascending 
df_new.sort_values(by="calories", ascending=True)

                        name  calories  protein  vitamins     rating
3  All-Bran with Extra Fiber        50        4        25  93.704912
0                  100% Bran        70        4        25  68.402973
8                  Bran Chex        90        2        25  49.120253
9                Bran Flakes        90        3        25  53.313813
4             Almond Delight       110        2        25  34.384843
5    Apple Cinnamon Cheerios       110        2        25  29.509541
6                       Trix       110        1        25  27.759840
1          100% Natural Bran       120        3         0  33.983679
7                    Basic 4       130        3        25  37.038562

Exporting and Saving Pandas DataFrame

In [118]:
df_new.to_csv("output_file.csl", index_label=False)