In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
matrix = np.array([[1,2,3],[5,6,7]])

In [4]:
print(matrix)

[[1 2 3]
 [5 6 7]]

In [5]:
mylist = [["Apple", "Red"],
         ["Banana","Yellow"],
         ["Orange","Orange"]]

In [6]:
myDataFrame = pd.DataFrame(mylist, columns=["Fruit","Color"])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [7]:
#Create a pandas data frame from a numpy array
numbers = np.array([[0,1],[2,3],[4,5],[6,7]])
dataFrame1 = pd.DataFrame(numbers, columns=["Odd","Even"])

In [8]:
dataFrame1

   Odd  Even
0    0     1
1    2     3
2    4     5
3    6     7

In [9]:
#Create a pd data frame from a dictionary

In [10]:
myDictionary = {"fruit":["Apple","Banana","Orange"], "color":["yellow","blue","Orange"]}

In [11]:
dictionarDataFrame = pd.DataFrame(myDictionary)

In [12]:
dictionarDataFrame

    fruit   color
0   Apple  yellow
1  Banana    blue
2  Orange  Orange

In [13]:
df = pd.read_csv('./cereals.csv')

FileNotFoundError: [Errno 2] No such file or directory: './cereals.csv'

In [ ]:
df

In [ ]:
#read_csv methos in pandas will create a data frame from a .csv , file 
#csv stands for comma separated values files,

In [ ]:
#Once created we can use the the set_index function in pandas to define a new index for the data frame that was created

In [ ]:
df.set_index('name')

In [ ]:
df

In [ ]:
#You would have noticed that after calling the function set_index in the previous call we set up a new index
#But after calling df again the change was gone this because the changes in pandas are not pernamnat on the data frame 
#to make it permanant you will need to either asssign the value of your transformed data frame to a new variable or 
#or set inplace to true in the call of your function

In [ ]:
#Inplace function is used to make the change permamant

In [ ]:
#Option 1 : assign the transformed dataframe to a new datafframe function
df_name = df.set_index('name')

In [ ]:
df

In [ ]:
df_name

In [ ]:
#Option 2 : use inplace property to make the change permanant
df.set_index('name',inplace=True)

In [ ]:
df

In [ ]:
#Examining the data 
#To examine the data in your pandas data frame, you can the function head() and tail()
#head() will give you the top five rows in if no number is specified as parameter 
#tail() will give you the bottom five rows in if no number is specified as parameter

In [ ]:
df.head()

In [ ]:
df.head(2)

In [ ]:
df.head(7)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

In [ ]:
df.tail(6)

In [ ]:
#we can use the [] operator for rwo slicing 
#when using the brackets operator we have to specify a strat index which is inclusive and a end bracket which is exclusinve 
#[start_index:end_index]

In [ ]:
df

In [ ]:
df[1:2]

In [ ]:
df[1:4]

In [ ]:
#Column slicing 
#Just like for the row slicing, the [] operator can be sued to slice a data frame to return only a set of columns with some nuances 
#this time we need to use pass the row oerators inside another row operatorand use a a comma instead of : to specifythe start and end columns
#df[['start_column', 'end_column']]

In [ ]:
df

In [ ]:
df[['calories','rating']]

In [ ]:
#we can also pass a boolean list to the [] operator in this case all the element for each index in the list the correspondng row index 
#in the data frame will be displayed if the value is sert to true and hidden if the value is set to false

In [ ]:
df

In [ ]:
show_only_third_row = [False,False,True,False,False,False,False,False,False,False]

In [ ]:
df[show_only_third_row]

In [ ]:
#one thing to note here is that the number of boolean value passed has to match the number of rows int he data frame
#this could make you question the use of this method oall together but it is an actually powerful way to

In [ ]:
df

In [ ]:
#For instance lets assume that we would like to we would like to show to programatically define a list of element
#that satisfy a very complex criteria that cannot be defined directly using the filter oprions 
#a simple example in our case will be displaying the row where the number of proteines is greater than 2 
#and the ratiio between the the rating and vitamins i sgreater than 2

In [ ]:
#We define a booean list with no values to start with
items_to_display = []
#we start by itterationg through the list of elemetns of the dataframe 
for index,row in df.iterrows():
    #for each element we will take store the value of protein,rating, and vitamins int heir own variables
    protein = row["protein"]
    vitamins = row["vitamins"]
    rating = row["rating"]
    
    #then we calculate the ratio rating/vitamins
    if vitamins > 0:
        ratio = rating/vitamins
    else:
        ratio = 0
        
    #now we check the value of the ratio and number of protein if the conditions are satisfied we display the row by setting the True 
    #or false in the associated booealn list we will later pass 
    if protein > 2 and ratio > 2:
        items_to_display.append(True)
    else:
        items_to_display.append(False)
        
#when the loop itteration is over we display the result of our boulean list 
print(items_to_display)

#and we pass the booealn list in the [] operation to show t he rows where the data satisfy our define conditions 
df[items_to_display]

In [ ]:
#Filtering the data 
#we can use the [] operator to apply some filter, we define a condition within the [] and only the rows statisfying the defined conditions 
#will be displayed

In [ ]:
condition = df["calories"] > 70
df[condition]

In [ ]:
#or directly

In [ ]:
df[df["calories"] > 70 ]

In [ ]:
#we can include more than one conditions by grouping them using the and(&) and or(|) operators

In [ ]:
protein_greater_than_2_condition = df["protein"] > 2

In [ ]:
ratio_rating_vitamins_greater_than_2_condition = df["rating"] / df["vitamins"] > 2

In [ ]:
df[protein_greater_than_2_condition & ratio_rating_vitamins_greater_than_2_condition]

In [ ]:
#Indexing 
#loc is used to index/slice a group of rows and lolumns based on their labels
#the first argument is the row label and the second argument is the column label

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.loc["All-Bran", "calories"]

In [ ]:
#This method returns a single value of the data type of the value return

In [ ]:
#to return a data frame instead pass the argument to loc in the form of a list

In [ ]:
df.loc[["All-Bran"], ["calories"]]

In [ ]:
#we can also use loc method to slice rows and columns from the dataframe

In [ ]:
df.loc["All-Bran":"Basic 4", "calories":"vitamins"]

In [ ]:
#we can index and slice simultanousely as well

In [ ]:
df.loc[["All-Bran","Basic 4"], "calories":"vitamins"]

In [ ]:
#iloc is a similar function to loc , the difference is that where loc allows you to use labels iloc use row index positions only for indexing and slicing
#iloc takes two arguments one for the row and one for the index 
#ex: df.iloc[start, end] ==> rturns single scalar value
#ex: df.iloc[[start],[end]] ==> returns a data frame
#ex: df

In [ ]:
df

In [ ]:
df.iloc[2,3]

In [ ]:
#you will note that name is not considered and elment that is accessible as we turnd it to and index

In [ ]:
df.iloc[[2],[3]]

In [ ]:
df.iloc[0:5,0:3]

In [ ]:
#just like with loc function the iloc allow you to index and slice at the same time

In [ ]:
df.iloc[[0,2,4], 0:3]

In [ ]:
#Adding and deleting rows from a data frame

In [ ]:
#first we will create a new data frame to manipulate from the csv file
df_new = pd.read_csv('./cereals.csv')

In [ ]:
df_new

In [ ]:
#Adding

In [ ]:
#we use the loc method to add a new element at the specified index if the row exist the new row replaces the old one if not a new one is created

In [ ]:
df_new.loc[6]

In [ ]:
df_new.loc[6] = ["Trix",110,1,25,27.75984]

In [ ]:
df_new.loc[6]

In [ ]:
#Deleting

In [ ]:
#to delete a row fromt he data frame we use the function drop()  by specifying 0 for the value of the axis

In [ ]:
df_new.loc[2]

In [ ]:
df_new.drop(2,axis=0, inplace=True)

In [ ]:
df_new

In [ ]:
#you will noticed the row with the value All-Bran was delted

In [ ]:
#adding new column

In [ ]:
df_new["country"] = ["USA","UK","MX","FR","GER","USA","UK","MX","FR"]

In [ ]:
df_new

In [ ]:
#Deleting a column

In [ ]:
df_new.drop("country",axis=1, inplace=True)

In [ ]:
df_new